---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;



/* 默认大屏幕 */
.profile-pic-responsive {
  width: 20vw;        /* 屏幕宽度的 20% */
  max-width: 188px;   /* 防止过大 */
  height: auto;
}

/* 小屏幕（<576px） */
@media (max-width: 576px) {
  .profile-pic-responsive {
    width: 95vw !important;
  }
}



/* 大屏幕时固定 badge 宽度 */
@media (min-width: 768px) {
  .abbr {
    min-width: 120px !important;
  }
}

/* 小屏幕（含 <768px）保持自适应 */
@media (max-width: 767px) {
  .abbr {
    min-width: auto !important;
    width: 100% !important;
  }
}
